body {
    font-family: "Space Mono", monospace;
    background-color: rgba(233, 232, 232, 0.87);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(233, 232, 232, 0.87); 
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 50px;
}

.navbar .left,
.navbar .center,
.navbar .right {
    display: flex;
    align-items: center;
}

.navbar .left {
    flex: 1;
}

.navbar .center {
    flex: 2;
    justify-content: center;
}

.navbar .right {
    flex: 1;
    justify-content: flex-end;
    display: flex;
    align-items: center;
}

.navbar .logo {
    height: 50px;
    width: auto;
    margin-right: 20px;
}

.navbar a {
    text-decoration: none; 
    color: inherit; 
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.product {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    border: 1px solid rgba(233, 232, 232, 0.87);
    padding: 20px;
    width: 250px;
    text-align: center;
    background-color: rgba(233, 232, 232, 0.87);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.product img {
    max-width: 100%;
    height: auto;
}

.add-to-cart-btn {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Space Mono', monospace;
    align-self: center; 
}

button:hover,
.add-to-cart-btn:hover {
    background-color: white;
    color: black;
}

.cart {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.cart img {
    height: 50px; 
    width: auto;
    cursor: pointer;
}

.cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
}

.checkout {
    padding: 20px;
    text-align: center;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.checkout-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.checkout-left, .checkout-right {
    width: 45%;
}

.express-checkout {
    display: flex;
    justify-content: space-between;
}

.paypal-btn, .gpay-btn {
    width: 45%;
    padding: 10px;
    background-color: #0070ba;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
}

.gpay-btn {
    background-color: #000000;
}

.contact-info, .shipping-address {
    margin-top: 20px;
}

.contact-info input, .shipping-address input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

.shipping-address form {
    display: flex;
    flex-direction: column;
}

.shipping-address button {
    background-color: #d19b26;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
}

.shipping-address button:hover {
    background-color: #e0a62a;
}

.order-summary {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
}

.order-summary ul {
    list-style: none;
    padding: 0;
}

.order-summary ul li {
    padding: 5px 0;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-box h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.login-box form {
    display: flex;
    flex-direction: column;
}

.login-box input[type="text"],
.login-box input[type="email"],
.login-box input[type="password"] {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 93%; 
}

.login-box button {
    display: inline-block;
    padding: 10px 10px; 
    background-color: black; 
    color: white;
    border: 2px solid black;
    border-radius: 0px; 
    text-decoration: none;
    cursor: pointer;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-style: normal;
}

.login-box button:hover {
    background-color: #f7f5f5;
    color: black;
}

.login-box p {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}

.login-box p a {
    color: gray;
    text-decoration: none;
}

.login-box p a:hover {
    text-decoration: underline;
}

.login-btn {
    display: inline-block;
    padding: 10px 10px;
    background-color: black; 
    color: white !important; /*this is getting overridden somewhere*/;  
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-style: normal;
    margin-right: 20px; 
}

.login-btn:hover {
    background-color: white;
    color: black !important; /*also getting overridden*/;  
}

.navbar .username {
    margin-right: 15px; 
}

.underline-link {
    text-decoration: underline;
}

.links-container .reset-password {
    text-align: right;
}

.links-container .register-link {
    text-align: center;
    color: black;
}

.login-container {
    position: relative;
}

.login-image {
    position: absolute;
    top: 10px;
    width: 600px;
    height: auto;
    margin: 20px;
}

.products-link {
    text-decoration: none; 
    margin-left: 20px;
}

.left {
    display: flex; 
    align-items: center;
}

.tooltip {
    text-align: center;
    border-radius: 6px;
    z-index: 1;
    font-size: 12px;
}

.tooltip::after {
    position: absolute;
    border-width: 5px;
    border-style: solid;
}

.tooltip-top::after {
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.tooltip-bottom::after {
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.tooltip-left::after {
    top: 50%;
    right: -5px;
    transform: translateY(-50%);
}

.tooltip-right::after {
    top: 50%;
    left: -5px;
    transform: translateY(-50%);
}

.tooltip-visible {
    opacity: 1;
    visibility: visible;
}

.error-message {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.underline-link {
    text-decoration: underline;
}

.registration-image {
    max-width: 100px; 
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; 
    padding-bottom: 20px; 
}

.success-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
    font-family: 'Space Mono', monospace;
}

.success-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.success-container p {
    margin-bottom: 10px;
}

.flash-error {
    font-size: 12px;
    color: red;
    list-style: none;
    text-align: right;
    padding: 10px;
}

.flash.success {
    font-size: 12px;
    color: green;
    list-style: none;
    text-align: right;
    padding: 10px;
}