<nav class="navbar centered-text">
    <div class="left">
        <a href="/">
            <img src="{{ url_for('static', filename='images/store_logo.png') }}" alt="logo" class="logo">
        </a>
        <p><b>k.dot store</b></p>
        <a href="/" class="products-link">[ products ]</a>
    <div class="center">
    </div>
    <div class="right">
        {% if current_user.is_authenticated %}
            <span class="username">Logged in as: [ {{ current_user.username }} ]</span>
            <a href="{{ url_for('logout') }}" class="login-btn">Log out</a>
        {% else %}
            <a href="{{ url_for('login') }}" class="login-btn">Log in</a>
        {% endif %}
        <p>Cart: {{ cart | dict_sum }} items</p>
    </div>
    <div class="cart">
        <a href="/checkout">
            <img src="{{ url_for('static', filename='images/cart.png') }}" alt="cart">
            <span class="cart-count">{{ cart| dict_sum }}</span>
        </a>
    </div>
</nav>